{
  "$${schema}": "https://opencode.ai/config.json",
  "permission": {
    "edit": "allow",
    "bash": "ask",
    "webfetch": "allow"
  },
  "theme": "system",
  "plugin": [
    "oh-my-opencode-slim",
    "opencode-antigravity-auth@latest"
  ]
}
